.chat:has(> div){
    position: fixed;
    background-color: white;
    width: 350px;
    height: 80vh;
    right: 0;
    bottom: 0;
    border: 1px solid #B1B1B1;
    z-index: 1000000;
    border-radius: 16px 16px 0 16px;
}

.chat:not(:has(> div)){
    position: fixed;
    background-color: #ffffffc4;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    border: 1px solid #B1B1B1;
    z-index: 1000000;
    border-radius: 20px;
}

.chat > div:first-child > div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 10px 19px;
    border-bottom: 1px solid #B1B1B1;
    color: #7A7A7A;
    font-weight: 600;
}

.chat > div:first-child > div:nth-child(2){
    padding: 10px;
}

.chat > div:first-child > div:first-child > div:nth-child(2){
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 17px;
    text-align: center;
    border-radius: 10px;
}

.chat > div:first-child > div:first-child > div:nth-child(2):hover{
    background-color: #7a7a7a2f;
}

.chat > span{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-image: url('../../../../public/bell-grey.svg');
    background-size: 50%;
    background-position: center;
    transition: all 0.1s ease;
    background-color: transparent;
}

.chat > span:hover{
    background-size: 60%;
}

.chat .messages > div{
    width: 100%;
}

.chat .messages > div.left{
    padding-right: 50px;
    text-align: left;
}
.chat .messages > div.right{
    padding-left: 50px;
    text-align: right;
}