.chat * {
    transition: none;
}

.chat{
    transition: all 0.1s;
    overflow: hidden;
}

.chat:has(> div){
    position: fixed;
    background-color: white;
    width: 450px;
    height: 80vh;
    right: 0;
    bottom: 0;
    border: 1px solid #B1B1B1;
    z-index: 1000000;
    border-radius: 16px 16px 0 16px;
}

.chat:not(:has(> div)){
    position: fixed;
    background-color: #ffffffc4;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    border: 1px solid #B1B1B1;
    z-index: 1000000;
    border-radius: 20px;
}

.chat > div:first-child > div:first-child{
    padding: 10px 19px;
    border-bottom: 1px solid #B1B1B1;
    color: #7A7A7A;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.chat > div:first-child > div:first-child > div:first-child > div:first-child{
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
}

.chat > div:first-child > div:first-child > div:first-child > div:first-child > div {
    gap: 7px;
    color: #101828;

}

.chat > div:first-child > div:first-child > div:first-child > div:first-child > div > div{
    width: max-content;
    display: block;
    flex-wrap: nowrap;
}

.chat > div:first-child > div:first-child > div:first-child > div:first-child > div > div:last-child{
    cursor: pointer;
}

.chat > div:first-child > div:first-child > div:first-child > div:first-child > div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;
}

.chat > div:first-child > div:first-child > div:first-child > div:first-child > div:nth-child(3){
    max-width: 120px;
    /* border: 1px solid; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.chat .chats{
    overflow-y: scroll;
    height: calc(80vh - 92px);
}

.chat .chats::-webkit-scrollbar,
.chat .messages::-webkit-scrollbar {
    width: 6px;
}

.chat .chats::-webkit-scrollbar-track ,
.chat .messages::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.chat .chats::-webkit-scrollbar-thumb,
.chat .messages::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.chat .chats > div{
    padding: 0px 10px;
    transition: all 0.1s ease !important;
    border-bottom: 1px solid #b1b1b12b;
}

.chat .chats > div *{
    cursor: pointer;
}

.chat .chats > div:first-child{
    border-top: 1px solid #b1b1b12b;
}


.chat .chats > div:hover{
    background-color: #eae1ff3f;
}

.chat > span.unread{
    position: relative;
    overflow: auto;
}

.chat > span.unread::before{
    content: ' ';
    display: block;
    width: 9px;
    height: 9px;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 100000;
    background-image: url('../../../../public/circle_red.svg');
    animation: pulse 1.5s infinite;
}

.chat .chats > div > div.see-chats{
    margin: auto 0;
    background-image: url('../../../../public/show_messages.png');
    width: 30px;
    height: 30px;
    background-size: 90%;
    background-position: center;
    transition: all 0.1s;
    position: relative;
}

.chat .chats > div > div.see-chats:hover{
    background-size: 100%;
}

.chat .chats > div > div.see-chats::before{
    content: "See employee's chats";
    font-size: 12px;
    background-color: #a5a5a5;
    color: white;
    display: none;
    width: max-content;
    position: absolute;
    left: 30px;
    padding: 2px 10px;
    font-weight: 400;
    bottom: 6px;
    z-index: 1000;
}

.chat .chats > div > div.see-chats:hover:before{
    display: block;
}

.chat .chats > div > div.chat-user-name{
    font-size: 14px;
    margin: auto auto auto 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 6px;
    flex: 1;
    padding: 10px 10px 10px 10px;
}

.chat .chats > div > div.chat-user-name.unread.flex{
    position: relative;
    overflow: auto;
}

.chat .chats > div > div.chat-user-name.unread.flex::before{
    content: ' ';
    display: block;
    width: 7px;
    height: 7px;
    background-size: 100%;
    position: absolute;
    top: 8px;
    left: 29px;
    z-index: 100000;
    background-image: url('../../../../public/circle_red.svg');
    animation: pulse 1.5s infinite;
}


.chat .chats > div > div.chat-user-name > div:nth-child(2){
    margin: auto 0;
    color: #101828;
    font-weight: 600;
}

.chat .chats > div > div.chats-list-hover-message{
    width: calc(50% - 8px - 8px - 30px);
    min-width: calc(50% - 8px - 8px - 30px);
    min-width: calc(50% - 8px - 8px - 30px);
    margin: auto 0;
    flex: 1;
    padding: 9px 0;
}

.chat .chats > div > div.chats-list-hover-message > div:nth-child(1){
    font-size: 13px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat .chats > div > div.chats-list-hover-message > div:nth-child(2){
    font-size: 10px;
    line-height: 12px;
    color: #7A7A7A;
}

.chat .x{
    cursor: pointer;
    user-select: none;
    width: 16px;
    height: 16px;
    display: block;
    line-height: 16px;
    text-align: center;
    border-radius: 10px;
    margin: auto 0;
    transition: all 0.1s ease;
    font-size: 16px;
    position: relative;
}

.chat .x:hover{
    /* background-color: #7a7a7a2f; */
    font-size: 20px;
}

.chat .exit{
    margin-left: 10px;
    font-size: 12px;
    padding: 2px 10px;
    transition: all 0.1s ease;
}



/* .chat .x::before{
    content: 'Close Chat';
    font-size: 12px;
    background-color: #a5a5a5;
    color: white;
    display: none;
    width: max-content;
    position: absolute;
    right: 20px;
    padding: 2px 10px;
    font-weight: 400;
    bottom: 6px;
}

.chat .x:hover::before{
    display: block;
} */


.chat div:has(> .filter){
    padding: 5px 10px;
}
.chat .filter{
    background-color: white;
    border: 1px solid #E8EAED;
    padding: 3px 10px;
    border-radius: 10px;
    width: 100%;
}

.chat > span{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-image: url('../../../../public/bell-grey.svg');
    background-size: 50%;
    background-position: center;
    transition: all 0.1s ease;
    background-color: transparent;
}

.chat > span:hover{
    background-size: 60%;
}

.chat div:has(+ .messages){
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px solid #b1b1b12b;
}

.chat div:has(+ .messages):hover{
    text-decoration: underline;
}

.chat .messages{
    height: calc(80vh - 148px);
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 10px 10px 10px 10px;
}

.chat .messages > div{
    max-width: 80%;
    min-width: 50%;
    width:fit-content;
    font-weight: 600;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    text-wrap-mode: wrap;
    text-wrap-style:stable;
}

.chat .messages > div > div:last-child{
    font-size: 11px;
    font-weight: 500;
}

.chat .messages > div.left{
    padding: 6px 6px 6px 6px ;
    text-align: left;
    background-color: #626262;
    border-radius: 10px 10px 10px 0px;
}
.chat .messages > div.right{
    padding: 6px 6px 6px 6px ;
    text-align: right;
    background-color: #4361EE;
    margin-left: auto;
    border-radius: 10px 10px 0px 10px;
}

.chat .messages + div{
    padding: 0 10px 8px 10px;
    gap: 10px;
}

.chat .messages + div input{
    border: 1px solid #E8EAED;
    border-radius: 8px;
    width: 100%;
    padding: 3px 10px;
}

.chat .messages > p {
    width: 100%;
    margin-top: 32%;
    text-align: center;
    font-style: italic;
    color: #7A7A7A;
}

.chat .loader > div{
    max-width: 100% !important;
}


[data-img="message-to-all"]{
    background-image: url('../../../../public/send_message_to_all_0.png');
    width: 23px;
    height: 23px;
    background-size: 80%;
    margin-left: auto;
    transition: all 0.1s ease;
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    position: relative;
}

[data-img="message-to-all"]:hover{
    background-size: 90% !important;
}

[data-img="message-to-all"]::before{
    content: 'Send message to All';
    font-size: 12px;
    background-color: #a5a5a5;
    color: white;
    display: none;
    width: max-content;
    position: absolute;
    right: 20px;
    padding: 2px 10px;
    font-weight: 400;
    bottom: 6px;
}

[data-img="message-to-all"]:hover::before{
    display: block;
}

.chat .confirm.send-message-to-all textarea{
    width: 100%;
    border: 1px solid #E8EAED;
    background-color: white;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;
    max-height: 25vh;
    min-height: 15vh;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .chat:has(> div){
        width: 100vw;
    }
}