/* .teams-and-roles{} */

.teams-and-roles .employees-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-and-roles .employee{
    padding: 20px 20px 60px 20px;
    border-radius: 16px;
    border-top: 1px solid #EAECF0;
    box-shadow: 0px 1px 4px 0px #1018280A;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.teams-and-roles .employee.archived::before{
    content: 'Archived';
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.517);
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    padding: calc(20% - 32px) 0;
    font-size: 50px;
    color: #8991a02d;
    font-weight: 600;
    /* line-height: 16px; */
}

.teams-and-roles .employee:hover{
    box-shadow: 0px 1px 10px 0px #10182824;
}

.teams-and-roles .employee > div:first-child{
    display: flex;
    gap: 10px;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2) > div:first-child{
    color: #101828;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2) > :nth-child(2){
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding-left: 0;
    margin-left: -4px;
    display: flex;
    gap: 5px;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2) > :nth-child(2) > :first-child{
    text-transform: capitalize;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2) > :nth-child(2) > :nth-child(2){
    font-size: 10px;
    padding: 2px 5px;
}


.teams-and-roles .employee > div:first-child > div:nth-child(2) > :nth-child(3){
    color: #6e9ae7;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-left: -5px;
    display: flex;
    gap: 5px;
}

.teams-and-roles .employee > div:first-child > div:nth-child(2) > :nth-child(3) > :nth-child(2){
    font-size: 10px;
    padding: 2px 5px;
}

.teams-and-roles .employee > div:first-child > div:last-child{
    margin-left: auto;
}


.teams-and-roles .employee > div:first-child > div:last-child > div{
    color: #4361EE;
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: capitalize;
}

.teams-and-roles .employee > div:first-child > div:last-child > div.lead{
    color: #12B76A !important;
}

.teams-and-roles [data-img="email"],
.teams-and-roles [data-img="phone"]{
    background-position: left center;
    padding-left: 20px;
    color: #667085;
    font-size: 12px;
    font-weight: 400;
}


.teams-and-roles [data-img="email"]{
    background-image: url('../../../public/email.svg');
}

.teams-and-roles [data-img="phone"]{
    background-image: url('../../../public/phone.svg');
}


.teams-and-roles .employee > div:nth-child(2){
    margin-top: 15px;
}

.teams-and-roles .employee > div:nth-child(2):has(+ div) {
    padding-bottom: 15px;
}


.teams-and-roles .employee > div:nth-child(3){
    border-top: 2px solid #F2F4F7;
    padding-top: 15px;
}

.teams-and-roles .employee > div:nth-child(3){
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.teams-and-roles .employee > div:nth-child(3):hover::before{
    content: 'Data for last 7 days';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 6px;
    width: 200px;
    text-align: center;
    top: 30px;
}

.teams-and-roles .employee > div:nth-child(3):empty:hover::before{
    display: none;
}

.teams-and-roles .employee > div:nth-child(3) > div{
    background-color: #F7F8FC;
    flex: 1;
    text-align: center;
    padding: 30px 0 5px 0;
    border-radius: 8px;
    background-size: 14px;
    background-position: top 10px center;
}

.teams-and-roles .employee > div:nth-child(3) > div:nth-child(1){
    background-image: url('../../../public/brief_2.svg');
}

.teams-and-roles .employee > div:nth-child(3) > div:nth-child(2){
    background-image: url('../../../public/caution_0.svg');
}

.teams-and-roles .employee > div:nth-child(3) > div:nth-child(3){
    background-image: url('../../../public/shift_0.svg');
}



.teams-and-roles .employee > div:nth-child(3) > div > div{
    color: #101828;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}


.teams-and-roles .employee > div:nth-child(3) > div > span{
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
}

.teams-and-roles .employee > div:last-child{
    position: absolute;
    right: 20px;
    z-index: 50;
    opacity: 1 !important;
    bottom: 15px;
}

.teams-and-roles .role-permissions > div h3{
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}

.teams-and-roles .role-permissions > div p{
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
}

.teams-and-roles .role-permissions > div:first-child{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.teams-and-roles .role-permissions > div:first-child > div:nth-child(2){
    margin: auto 0;
    text-wrap-mode: nowrap;
}

.teams-and-roles .role-permissions > div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div{
    box-shadow: 0px 1px 4px 0px #1018280A;
    border-top: 1px solid #EAECF0;
    border-radius: 16px;
    background-color: white;
    padding: 20px 20px 65px 20px;
    background-position: left 20px top 20px;
    position: relative;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div:hover{
    box-shadow: 0px 1px 10px 0px #1018282a;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > div > div > h6{
    color: #101828;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > div > div > span{
    color: #98A2B3;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > p{
    margin: 6px 0 0 0;
    color: #667085;
    font-size: 12px;
    font-weight: 400;
    background-image: url('../../../public/done_blue_round.svg');
    padding-left: 20px;
    background-position: left center;
}

.teams-and-roles .role-permissions > div:nth-child(2) > div > div:last-child{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.teams-and-roles .add-user{
    margin: 0 0 20px auto;
}

.confirm.add-role-form > div,
.confirm.add-user-form > div{
    height: max-content;
}

.confirm.add-role-form > div{
    min-height: auto;
    overflow-y: scroll;
    max-height: 70vh;
    height: auto;
}

.confirm.add-role-form > div::-webkit-scrollbar{
    width: 5px;
    padding: 5px 0;
    margin: 5px 0;
    display: block;
}

.confirm.add-role-form > div::-webkit-scrollbar-thumb{
    background-color: #66708559;
    cursor: pointer;
}

.confirm.add-role-form > div::-webkit-scrollbar-track{
    margin: 7px 0;
}

.teams-and-roles .confirm.add-role-form > div > form > div,
.teams-and-roles .confirm.add-user-form > div > form > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams-and-roles .confirm.add-role-form > div > form > div{
    grid-template-columns: repeat(1, 1fr);
}

.teams-and-roles .confirm.add-role-form > div > form > div > label,
.teams-and-roles .confirm.add-user-form > div > form > div > label{
    width: 100%;
}


.teams-and-roles .confirm.add-role-form > div h1,
.teams-and-roles .confirm.add-user-form > div h1{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.teams-and-roles .confirm.add-role-form > div h3{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 10px 0;
}

.teams-and-roles .confirm.add-role-form form > div:nth-child(4){
    gap: 3px;
}

.teams-and-roles .confirm.add-role-form form > div:nth-child(4) > label{
    display: flex;
    gap: 6px;
}

.teams-and-roles .confirm.add-role-form form > div:nth-child(4) > label > input{
    margin: auto 0;
    width: 14px;
    height: 14px;
    display: block;
}

.teams-and-roles .confirm.add-role-form form > div:last-child{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.teams-and-roles .confirm.add-role-form > div > form > div > label > :nth-child(1),
.teams-and-roles .confirm.add-user-form > div > form > div > label > :nth-child(1){
    color: #667085;
    background-position: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.teams-and-roles .confirm.add-role-form > div > form > div > label > :nth-child(2),
.teams-and-roles .confirm.add-user-form > div > form > div > label > :nth-child(2){
    background-color: #fff;
    border: 1px solid #e8eaed;
    border-radius: 8px;
    padding: 2px 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    text-transform: capitalize;
}
.teams-and-roles .confirm.add-role-form > div > form > div > label > select:nth-child(2),
.teams-and-roles .confirm.add-user-form > div > form > div > label > select:nth-child(2){
    padding-left: 6px;
}
.teams-and-roles .confirm.add-role-form > div > form > div:nth-child(3),
.teams-and-roles .confirm.add-user-form > div > form > div:nth-child(3){
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}


@media (max-width: 500px) {
    .teams-and-roles .employees-container {
    grid-template-columns: repeat(1, 1fr) !important;}
    .teams-and-roles .role-permissions > div{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .teams-and-roles .employee.archived::before{
        padding: calc(50% - 32px) 0px;;
    }

    .teams-and-roles .confirm.add-user-form > div > form > div{
        grid-template-columns: repeat(1, 1fr);
    }
}