.action-tracker{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-tracker > div:first-child{
    display: flex;
    gap: 20px;
}

.action-tracker > div:first-child > div:first-child{
    display: grid;
    gap: 0px 10px;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.action-tracker > div:first-child > div:nth-child(2){
    height: max-content;
    margin-top: auto !important;
    padding: 4px 20px;
}

.action-tracker > div:first-child > div:first-child > label{
    display: flex;
    flex-direction: column;
}

.action-tracker > div:first-child > div:first-child span{
    color: #9CA3AF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
}

.action-tracker > div:first-child > div:first-child > label > :nth-child(2):not(:has(.picker)){
    /* width: 200px; */
    color: black;
    background-color: white;
    border: 1px solid #EAECF0;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 8px;
    background-image: url('../../../public/arrow_grey_bottom.svg');
    background-position: right 8px center;
    background-size: 18px;
    cursor: pointer;
}

.action-tracker > div:first-child > div:first-child > label > :nth-child(2) input{
    padding: 4px 10px;
    width: 100% !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid #EAECF0 !important;
    font-size: 14px;
    border-radius: 8px;
    background-image: url('../../../public/arrow_grey_bottom.svg');
    background-position: right 8px center;
    background-size: 18px;
    cursor: pointer;
}

.action-tracker > div:first-child > div:first-child > label > :nth-child(2) input{
    padding: 4px 10px;
    /* width: 200px !important; */
    color: black !important;
    background-color: white !important;
    border: 1px solid #EAECF0 !important;
    font-size: 14px;
    border-radius: 8px;
    background-image: url('../../../public/arrow_grey_bottom.svg');
    background-position: right 8px center;
    background-size: 18px;
    cursor: pointer;
}

.action-tracker > div:first-child > div:first-child > label select{
    appearance: none;
}


.action-tracker .a-table-wrapper{
    border-radius: 16px;
    border: 2px solid #F2F4F7;
    box-shadow: 0 0 4px 1px #1018280a;

}

.action-tracker .a-table {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.action-tracker .a-table-wrapper .a-table-header,
.action-tracker .a-table > div{
    display: flex;
    padding: 10px 20px;
    background-color: white;
    gap: 5px;
    /* border-radius: 16px 16px 0 0; */
}

.action-tracker .a-table > div + div{
    border-top: 1px solid #F2F4F7;
}

.action-tracker .a-table-wrapper .a-table-header > div{
    color: #98A2B3 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    background-image: none !important;
    justify-content: center;
    flex: 1;
    margin: auto 0;
    text-align: center;
}

.action-tracker .a-table-wrapper .a-table-header > div,
.action-tracker .a-table > div > div{
    text-align: center;
    flex: 1;
    margin: auto 0;
}

.action-tracker .a-table-wrapper .a-table-header > div:nth-child(1),
.action-tracker .a-table > div > div:nth-child(1){
    width: 140px;
    color: #101828;
    font-weight: 600;
    font-size: 14px;
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

.action-tracker .a-table-wrapper .a-table-header > div:nth-child(1) span,
.action-tracker .a-table > div > div:nth-child(1) span{
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
}


.action-tracker .a-table-wrapper .a-table-header > div:nth-child(2),
.action-tracker .a-table > div > div:nth-child(2){
    display: flex;
    gap: 10px;
    text-align: center;
    width: max-content;
    justify-content: center;
}

.action-tracker .a-table-wrapper .a-table-header > div:nth-child(3),
.action-tracker .a-table > div > div:nth-child(3){
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    font-weight: 600;
}


.action-tracker .a-table-wrapper .a-table-header > div:nth-child(4),
.action-tracker .a-table > div > div:nth-child(4){
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}


.action-tracker .a-table-wrapper .a-table-header > div:nth-child(7),
.action-tracker .a-table > div > div:nth-child(7){
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    font-weight: 600;
    padding: 10px 20px;
}

.action-tracker .a-table-wrapper .a-table-header > div:nth-child(8),
.action-tracker .a-table > div > div:nth-child(8){
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}



.action-tracker .a-table-wrapper .a-table-header > div:nth-child(9),
.action-tracker .a-table > div > div:nth-child(9){
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.action-tracker .a-table-wrapper .a-table-header > div:nth-child(11),
.action-tracker .a-table-wrapper .a-table-header > div:nth-child(10),
.action-tracker .a-table > div > div:nth-child(11),
.action-tracker .a-table > div > div:nth-child(10){
    width: 100px ;
    min-width: 100px ;
    max-width: 100px ;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.action-tracker .a-table > div > div:nth-child(11) > div{
    margin: 0 auto;
}



.action-tracker .a-table-wrapper .a-table-header > div:last-child textarea,
.action-tracker .a-table-wrapper .a-table-header > div:last-child,
.action-tracker .a-table > div > div:last-child textarea,
.action-tracker .a-table > div > div:last-child{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    display: block;
}

.action-tracker .a-table-wrapper .a-table-header > div:last-child textarea,
.action-tracker .a-table > div > div:last-child textarea{
    border: 1px solid #E8EAED;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 10px;
    min-height: 40px;
    transition: none;
}


.action-tracker .a-table-wrapper .a-table-header{
    background-color: #F7F8FC !important;
    display: flex !important;
    gap: 5px !important;
    position: sticky !important;
    top: 71px !important;
    /* z-index: 1000 !important; */
    border-radius: 16px 16px 0 0;
}


.action-tracker .a-table-footer{
    justify-content: space-between;
    display: flex;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0 0 16px 16px;
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgb(242, 244, 247);
}


.action-tracker .a-table-footer > div:first-child{
    text-align: left;
    font-weight: 500;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
}

.action-tracker .a-table-footer > div:nth-child(2){
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
}


.action-tracker .a-table-footer > div:nth-child(2) > div:nth-child(1),
.action-tracker .a-table-footer > div:nth-child(2) > div:nth-child(3){
    cursor: pointer;
}


.action-tracker .a-table-footer > div:nth-child(2) > div:nth-child(1):not(.d):hover,
.action-tracker .a-table-footer > div:nth-child(2) > div:nth-child(3):not(.d):hover{
    text-decoration: underline;
}

.action-tracker .confirm.add-issue-or-observation > div > div:nth-child(2) > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.action-tracker .confirm.add-issue-or-observation label > :nth-child(1){
    color: #667085;
    background-position: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.action-tracker .confirm.add-issue-or-observation label > :nth-child(2){
    background-color: #fff;
    border: 1px solid #e8eaed;
    border-radius: 8px;
    padding: 2px 10px 2px 5px;
    font-size: 14px;
    display: block;
    width: 100%;
    text-transform: capitalize;
}

.action-tracker .confirm.add-issue-or-observation label div:has( > .react-datepicker-wrapper){
    padding: 0;
    overflow: hidden;
}

.action-tracker .confirm.add-issue-or-observation label .react-datepicker-wrapper *{
    border-radius: 8px;
}

.action-tracker .confirm.add-issue-or-observation label .picker{
    padding: 2px 10px 2px 5px;
    width: 100%;
    color: rgb(33, 37, 41) !important;
    cursor: pointer;
}
.action-tracker .confirm.add-issue-or-observation textarea {
    transition: none;
}

.action-tracker .confirm.add-issue-or-observation textarea{
    text-transform: none !important;
    min-height: 200px;
}

.action-tracker .confirm.actions-list > div{
    min-height: 80vh;
    justify-content: left;
    gap: 8px;
    width: 80vw;
}

.action-tracker .confirm.add-issue-or-observation > div h1{
    margin: 0 auto;
    /* padding-right: 100px; */
}

.action-tracker .confirm.actions-list > div h1{
    margin: 0 auto;
}

.action-tracker .confirm.actions-list .x{
    position: absolute;
    top: 20px;
    right: 20px;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2){
    max-height: calc(80vh - 240px);
    overflow: scroll;
    position: relative;
    padding: 5px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.action-tracker .confirm.actions-list > div > div:nth-child(2)::-webkit-scrollbar {
    width: 6px;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2)::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2)::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2) > div{
    max-width: 100%;
    text-wrap-mode: wrap;
    line-break: anywhere;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2) > div > div:first-child{
    display: flex;
    gap: 5px;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2) > div > div:first-child > div:nth-child(2){
    color: #101828;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: auto 0;
}

.action-tracker .confirm.actions-list > div > div:nth-child(2) > div > div:nth-child(2){
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400;
}

.action-tracker .confirm.add-issue-or-observation .delete {
    /* cursor: pointer;
    transition: all 0.3s ease; */
    line-height: 2.2;
    margin-right: auto;
}

.action-tracker .confirm.actions-list > div > div:last-child{
    flex-direction: column;
    gap: 7px;
    display: flex;
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
}

.action-tracker .confirm.actions-list > div > div:last-child > div:first-child{
    margin-left: auto;
}

.action-tracker .confirm.actions-list > div > div:last-child > textarea{
    text-transform: capitalize;
    background-color: #fff;
    border: 1px solid #e8eaed;
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    display: block;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.action-tracker .confirm.actions-list .user-circle > div{
    border-radius: 20px !important;
}

.action-tracker .confirm.actions-list .resolved {
    display: none !important;
}

.action-tracker .confirm.actions-list:has(.resolved) > div > div:nth-child(2){
    max-height: calc(80vh - 95px);
    padding-bottom: 0;
}

.action-tracker .confirm.actions-list div.my-action > div:last-child{
    font-weight: 600;
}

.action-tracker .confirm.actions-list .is-resolved{
    background-image: url('../../../public/round_select_0.png');
    width: max-content;
    margin-left: auto;
    padding-right: 25px;
    background-position: right 6px center;
    background-size: 14px;
    cursor: pointer;
    transition: all 0.1s;
    user-select: none;
}


.action-tracker .confirm.actions-list .is-resolved:has(input[type="checkbox"]:checked){
    background-image: url('../../../public/round_select_1.png');
}


.action-tracker .confirm.actions-list .is-resolved input {
    display: none;
}

.action-tracker .confirm.actions-list b{
    position: absolute;
    bottom: 15px;
    font-style: italic;
    color: #0FB21F;
    padding-top: 5px;
    background: white;
    height: 30px;
    width: calc(100% - 20px);
}

.action-tracker .confirm.actions-list h4{
    color: #6b7280;
    text-align: center;
    width: 100%;
    padding: 30vh 0 10px 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 40;
    display: block;
    height: 20px !important;
    min-height: 20px !important;
}

@media (max-width: 500px) {
    


    .action-tracker > div:first-child{
        flex-direction: column;
    }

    .action-tracker > div:first-child > div:first-child{
        grid-template-columns: repeat(1, 1fr);
    }

    .action-tracker > div:first-child > div:nth-child(2){
        width: 100%;
        min-width: 100%;
        text-align: center;
    }



    .action-tracker > div:first-child > div:first-child > label > :nth-child(2):not(:has(.picker)),
    .action-tracker > div:first-child > div:first-child > label > :nth-child(2) input{
        width: 100% !important;
    }


    .action-tracker .confirm.add-issue-or-observation > div > div:nth-child(2) > form{
        grid-template-columns: repeat(1, 1fr);
    }

    .action-tracker .confirm.add-issue-or-observation textarea{
        min-height: auto;
    }
/* 
    .action-tracker .confirm.add-issue-or-observation .delete {
        padding: 11px 24px;
    } */

    body > .sidebar + div {
        max-width: 100vw !important;
        margin-top: 79px !important;
    }
}

@media (max-width: 1500px) {
        .a-table-wrapper {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .a-table-wrapper > .a-table{
        width: max-content;
        min-width: 600px
    }

        .action-tracker .a-table-wrapper .a-table-header > div,
    .action-tracker .a-table-wrapper .a-table > div > div{
        min-width: 200px !important;
    }

    .action-tracker div:has(+ .a-table-wrapper) > div{
        width: 100%;
        min-width: 100%;
        text-align: center;
        padding: 5px 0px;
        border-radius: 10px;
    }

    .action-tracker .a-table-wrapper .a-table > div > div:nth-child(1),
    .action-tracker .a-table-wrapper .a-table-header > div:nth-child(1),
    .action-tracker .a-table-wrapper .a-table > div > div:nth-child(n+3),
    .action-tracker .a-table-wrapper .a-table-header > div:nth-child(n+3){
        width: 100px;
        min-width: 100px;
    }

    .action-tracker .a-table-wrapper .a-table > div > div{
        position: relative;
    }


    .action-tracker .a-table-wrapper .a-table-header{
        position: relative !important;
        top: 0 !important;
    }
    .action-tracker .a-table-footer{
        flex-direction: column;
        left: 0;
    }

    .action-tracker .a-table-wrapper .a-table > div > div::before{
        content: attr(before-text);
        position: absolute;
        left: calc(50% + 5px);
        top: -8px;
        font-size: 10px;
        color: rgb(189, 189, 189);
    }


    .action-tracker .a-table-wrapper .a-table-header > div:nth-child(7),
    .action-tracker .a-table > div > div:nth-child(7){
        width: 280px !important;
        min-width: 280px !important;
        max-width: 280px !important;
    }

    body > .sidebar + div{
        max-width: calc(-78px + 100vw);
    }

    .action-tracker .confirm.add-issue-or-observation > div > div:last-child{
        flex-direction: column;
    }

    .action-tracker .confirm.add-issue-or-observation > div > div:last-child > *{
        width: 100% !important;
        min-width: 100%;
        text-align: center;
    }
}